<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxy.api.mapper.AdminUserMapper">

    <select id="login" parameterType="adminUser" resultType="adminUser">
        select s.* from admin_user s where s.username=#{username} and s.password=md5(concat(salt,"_",md5(#{password})))
    </select>
</mapper>